.imageHome{
    height:50% !important;
    background-size: cover;
    object-fit: contain;
    margin-top: -4% !important;
}
@media (max-width:490px) {
    .img-home ,.image-brands{
        height: 19vh !important;
    }
    .imageHome ,.image-brands{
                height:100% !important ;
                object-fit: cover;
    }
    .image-brands{
    margin-top: -10% !important;
    }
    .img-home2{
        height: 15vh !important;
    }
}