.contain-details{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    width: 100% !important;
    height:700px !important;
    flex-wrap: wrap ;
}
h2{
    font-size: 1.5rem;
}
h4{
    font-size: 1.2rem !important;
}
#buy{
    padding: 13px;
    margin-top: 5%;
    border-radius: 45%;
    font-weight: bold;
}
.prices{
    margin-top: 5% !important;
    padding: 13px;
    font-weight: bold;
}
.image-details{
    width: 40% !important;
    height: 40% !important;
    margin-left: 20%;
}

.explan{
    color: rgb(60, 175, 60);
    font-size: 1.3rem !important;
    font-weight: bold;
}

@media (max-width:768px) {
    .image-details{
       margin-left: 25%;
        width: 50% !important;
        height: 50% !important;
   }
}
@media (max-width:991px) {
    .contain-details{
        height: 100% !important;
   }
}
@media (min-width:769px) and (max-width:991px) {
    .image-details{
        margin-left: 30% !important;
   }
}

