.offer-product{
    display: flex;
    justify-content: space-around;
    border: 5px double #0dcaf0;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
}
.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-details{
    display: block !important;
    width: 30%;
    font-size: 20px !important;
    margin-left: 5% !important;
} 
.btns{
    flex-wrap: wrap;
}
.image-offer{
    width: 50%;
}
 @media (min-width:1200px) and (max-width:1470px) {
    .image-offer{
        width:70% !important;
    }
 }
  @media (max-width:732px) {
    .image-offer{
        width:60%
    }
    .btn-cart{
    display: block !important;
    font-size: 15px !important;
    text-align: center;
        width: 70% !important;
        height:40px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 16% !important;
        margin-top: 10% !important;
    } 
    .btn-details{
    display: block !important;
    width: 70% ;
    margin: 14% ;
    font-size: 15px !important;
    }
    .title-product{
        font-size: 15px !important;
    }
    .btns{
        display: block !important;
    }
 }
 